#yii-debug-toolbar {
  display: none !important;
}
.p-0 {
  padding: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.ptb {
  padding: 20px 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.smt {
  margin-top: 30px;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.row {
  margin: 0;
  padding: 0;
}
.row .col-sm-4 {
  padding: 10px 5px;
}
.row .col-sm-4 img {
  border: 1px solid #333333;
  width: 100%;
}
.row .col-sm-4 img:hover {
  cursor: pointer;
}
code {
  border: 1px dotted #999999;
  padding: 5px;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
}
.h1 {
  font-size: 26px;
  text-transform: uppercase;
}
.display-flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
.slogan {
  margin-top: 10px;
}
.slogan .col-sm-10 {
  text-align: center;
}
.slogan-head {
  -webkit-background-size: cover;
          background-size: cover;
  background: url(../images/jumbotron-head-bg.jpg) 100% 100% no-repeat;
  height: 150px;
}
.slogan-head .page-title {
  background-color: #424146;
  color: #ffea00;
  font-size: 34px;
  padding: 10px 80px 10px 15px;
  text-transform: uppercase;
}
.slogan-head p {
  font-size: 19px;
}
.wrap {
  background-color: #f6f6f6;
  border: 0;
}
header {
  background-color: #f6f6f6;
  border: 0;
}
header .display-flex-center .container {
  width: 100%;
}
main {
  background-color: #f6f6f6;
  border: 0;
}
.navbar-default {
  background-color: #f6f6f6;
  border: 0;
  padding: 0;
}
.navbar-default .navbar-collapse {
  border: 0;
  padding: 0;
}
.navbar-default .navbar-form {
  border: 0;
  padding: 0;
}
.navbar-default .navbar-nav > li {
  margin: 0 12px;
}
.navbar-default .navbar-nav-middle > li {
  margin: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #999999;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #999999;
}
.navbar-nav {
  margin: 0;
  position: relative;
}
.navbar-nav-top {
  margin-top: 48px;
}
.navbar-nav-top > li > a {
  font-weight: 0;
  text-transform: uppercase;
}
.copy .navbar {
  position: static;
}
.navbar-nav-middle > li > a {
  font-weight: 500;
}
.navbar-brand {
  height: auto;
}
.navbar .navbar-collapse .navbar-nav-middle > .active > a,
.navbar .navbar-collapse .navbar-nav-middle > .active > a:hover,
.navbar .navbar-collapse .navbar-nav-middle > .active > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #ffea00;
  color: #000000;
}
.navbar-header {
  border: 0;
  padding: 0;
}
.black-bg {
  background-color: #000000;
}
.black-bg:has( .copy ) {
  background-color: #000000;
}
footer {
  background-color: #414146;
  color: #ffffff;
  font-size: 11px;
  margin-top: 60px;
  padding-top: 12px;
}
footer input {
  background-color: #414146;
  border: 0;
  border-bottom: 2px solid #ffea00;
  margin: 10px 0 0 0;
  width: 70%;
}
footer a.ye {
  color: #ffea00;
}
footer b {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}
footer ul {
  list-style-type: none;
}
footer .container {
  background-color: #000000;
  font-size: 26px;
  text-transform: uppercase;
}
footer .container ul.navbar-nav-bottom > li > a {
  color: #ffffff;
}
footer .copy {
  background-color: black;
  color: #ffffff;
  font-size: 14px;
}
footer .copy p {
  font-size: 12px;
  margin-top: 18px;
}
footer .copy .container {
  width: 100%;
}
footer .lasted ul.tweets li {
  background: url(../images/icon-tw.png) no-repeat left top;
  margin-left: -40px;
  padding-left: 40px;
}
footer .lasted ul.list-inline > li {
  margin: 0;
  padding: 0;
}
footer .contact ul li {
  margin-left: -40px;
  padding-bottom: 20px;
  padding-left: 40px;
}
footer .contact ul li:first-child {
  background: url(../images/icon-addres.jpg) no-repeat left top;
}
footer .contact ul li:nth-child(2) {
  background: url(../images/icon-phone.jpg) no-repeat left top;
}
footer .contact ul li:nth-child(3) {
  background: url(../images/icon-email.jpg) no-repeat left top;
}
footer .contact button {
  background: url(../images/icon-follow.jpg) no-repeat left top;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}
footer .row .col-sm-4 {
  padding: 1px;
}
footer .about a {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #ffea00;
  margin: 17px 0 20px 0;
}
footer .about a:hover {
  color: #999999;
}
@media screen and (min-width: 768px) {
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 26px;
    text-transform: uppercase;
  }
  .jumbotron,
  .container-fluid .jumbotron {
    margin: 0;
    padding: 20px 0 10px 0;
  }
  .container {
    margin: 0 auto;
    padding: 0;
  }
}
